.nav-container {
    background-color: var(--nav-bg);
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid;
}
.login-register-container {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.user-name-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.user-name {
    font-size: large;
    direction: rtl;
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: var(--nav-user-name-color);
}

.user-image-container {
    background-color: gray;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user-image {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.main-container {
    height: 350px;
    width: 550px;
    background-color: var(--container-bg);
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: var(--text-color-before-hover);
    text-decoration: none;
    transition: transform 0.3s ease;
}
.link:hover {
    color: var(--text-color-after-hover);

    transform: scale(1.2);
}

.outer-main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-container {
    height: 90px;
    width: 550px;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 15px;
    color: black;
}
.option-container {
    height: 80px;
    width: 550px;
    font-size: 2rem;
    cursor: pointer;
}

.dropDown-main-container {
    height: 140px;
    width: 130px;
    background-color: var(--drop-down-bg);
    border: 1px solid;
    position: absolute;
    top: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.dropDown-option {
    width: 80%;
    height: 30px;
    margin: 5px;
    display: grid;
    place-content: center;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    color: var(--text-color-before-hover);
}

.dropDown-option > span:hover {
    transform: scale(1.05);
    color: var(--text-color-after-hover);
}

@media (max-width: 600px) {
    .main-container,
    .heading-container,
    .option-container {
        width: 100%;
    }
    .heading-container {
        font-size: 40px;
    }
    .nav-container {
        height: 60px;
    }
    .main-container {
        border-radius: 0%;
    }
    .login-register-container,
    .user-name {
        font-size: larger;
    }
}
