.nav-container {
    background-color: grey;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}
.login-register-container {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.user-name-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.user-name {
    font-size: large;
    direction: rtl;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.user-image-container {
    background-color: gray;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user-image {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.main-container {
    height: 350px;
    width: 550px;
    background-color: rgb(106, 104, 104);
    border-radius: 10px;
    overflow: hidden;
}

.main-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > div:not(.heading-container) {
    color: white;
    transition: transform 0.3s ease;
}

.main-container > div:not(.heading-container):hover {
    color: rgb(218, 218, 218);
    transform: scale(1.2);
}

.outer-main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-container {
    height: 90px;
    width: 550px;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 15px;
}
.option-container {
    height: 80px;
    width: 550px;
    font-size: 2rem;
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
}
.link:hover {
    color: rgb(201, 197, 197);
}

.setting-main-container {
    height: 140px;
    width: 130px;
    background-color: gray;
    position: absolute;
    top: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.setting-option {
    width: 80%;
    height: 30px;
    margin: 5px;
    display: grid;
    place-content: center;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    color: rgb(192, 191, 191);
}

.setting-option > span:hover {
    transform: scale(1.05);
    color: white;
}

@media (max-width: 600px) {
    .main-container,
    .heading-container,
    .option-container {
        width: 100%;
    }
    .heading-container {
        font-size: 40px;
    }
    .nav-container {
        height: 60px;
    }
    .main-container {
        border-radius: 0%;
    }
    .login-register-container,
    .user-name {
        font-size: larger;
    }
}
