@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow: hidden;
    font-family: "Kanit", sans-serif;
}
