.quizNavContainer {
    background-color: grey;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.timeMainContainer {
    color: white;
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
}

.timeContainer {
    height: 100%;
    width: 70%;
    font-size: xx-large;
}

.clockContainer {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.goBackContainer{
    width: 50px;
    display: grid;
    place-content: center;
    font-size: 30px;
    cursor: pointer;
}
.goBackContainer:hover{
    font-size: 35px;
    color: rgb(37, 37, 37);
}



@media (max-width: 600px) {
    .quizNavContainer {
        background-color: grey;
        height: 50px;
        width: 100vw;
        display: flex;
        position: sticky;
    }
}
