.quizNavContainer {
    background-color: var(--quiz-nav-bg);
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.timeMainContainer {
    color: var(--text-color);
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
}

.timeContainer {
    height: 100%;
    width: 70%;
    font-size: xx-large;
}

.clockContainer {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.goBackContainer {
    width: 50px;
    display: grid;
    place-content: center;
    font-size: 30px;
    color: var(--text-color);

    cursor: pointer;
}
.goBackContainer:hover {
    font-size: 35px;
    color: var(--text-color-after-hover);
}

@media (max-width: 600px) {
    .quizNavContainer {
        background-color: var(--quiz-nav-bg);
        height: 50px;
        width: 100vw;
        display: flex;
        position: sticky;
    }
}
