.quizNavContainer {
    background-color: grey;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.timeMainContainer {
    color: white;
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
}

.timeContainer {
    height: 100%;
    width: 70%;
    font-size: xx-large;
}

.clockContainer {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

@media (max-width: 600px) {
    .quizNavContainer {
        background-color: grey;
        height: 50px;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        position: sticky;
    }
}
