.practice-nav-bar {
    height: 50px;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    color: rgb(240, 15, 15);
    width: 100vw;
    position: fixed;
    background-color: var(--bg);
    z-index: 10;
}

.practice-go-back {
    color: var(--text-color);
    margin: 10px;
    font-size: larger;
    cursor: pointer;
}

.practice-go-back:hover {
    transform: scale(1.1);
}

.practice-outer-main-container {
    height: 100dvh;
    width: 100vw;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    color: var(--text-color);
}

.practice-main-container {
    min-height: 225px;
    width: 45%;
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.practice-image-main-container {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.practice-image-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.practice-counter-container {
    height: 30px;
    width: 30px;
    position: absolute;
    display: grid;
    place-content: center;
}

.practice-option-container {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.practice-option {
    width: 100%;
    min-height: 50px;
    margin: 5px;
    display: flex;
    padding-left: 10px;
    color: var(--text-color);
}

.practice-counter {
    width: 20px;
    height: 100%;
}

.bg-green {
    background-color: rgb(29, 204, 29);
    border-radius: 5px;
}

.rorPractice-question-container {
    min-height: 50px;
    width: 100%;
    background-color: var(--gray-1);
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .practice-main-container {
        width: 90%;
    }
}
