.quiz-outer-main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.quiz-main-container {
    min-height: 200px;
    width: 550px;
    background-color: var(--container-bg);
    overflow: hidden;
    border: 1px solid;
}

.sign-main-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.question-count-container {
    height: 40px;
    width: 550px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}
.question-count {
    height: 40px;
    width: 80px;
    display: grid;
    place-content: center;
    font-size: x-large;
}
.sign-container {
    height: 180px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-main-container {
    min-height: 50px;
    border: 0.5px solid;
    display: flex;
    margin: 10px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.option-count {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: larger;
    pointer-events: none;
}

.option {
    width: 90%;
    min-height: 50px;
    display: inline-block;
    color: var(--text-color);
    pointer-events: none;
}

.option-main-container:hover,
.confirm-container:hover {
    background-color: rgb(27, 148, 27);
}
.confirm-container:hover {
    box-shadow: inset 0 0 0 1px black;
}

.sign-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.confirm-main-container {
    height: 35px;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: flex-end;
}
.confirm-container {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: xx-large;
    cursor: pointer;
    visibility: hidden;
    box-shadow: inset 0 0 0 1px black;
}

.slideLeft {
    animation: slideLeft 1s ease;
    position: relative;
    transition: transform 1s ease;
    opacity: 0;
}
.slideRight {
    animation: slideRight 1s ease;
    position: relative;
    transition: transform 1s ease;
    opacity: 1;
}
.fadeIn {
    animation: fadeIn 2s ease;
}
.fadeOut {
    animation: fadeOut 2s ease;
    opacity: 0;
}

.backDrop {
    backdrop-filter: blur(15px) ;
    position: absolute;
    height: 100%;
    width: 550px;
    margin: auto;
    z-index: 10;
    display: grid;
    place-content: center;
}

.confirm-go-back-main-container {
    background-color: var(--goBack-bg);
    height: 150px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
}

.go-back-warning {
    height: 100px;
    display: grid;
    place-content: center;
    padding: 0 20px;
    color: var(--text-color);
    white-space: wrap;
}
.go-back-options-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.go-back-option-cancel,
.go-back-option-confirm {
    background-color: var(--goBack-bg);
    height: 50px;
    width: 100px;
    border-radius: 0 10px 0 10px;
    font-size: 35px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.go-back-option-cancel {
    color: rgb(172, 8, 8);
    border-right: 1px solid black;
}

.go-back-option-confirm {
    border-radius: 10px 0 10px 0;
    color: green;
    border-left: 1px solid black;
}
.go-back-option-cancel:hover {
    color: red;
}
.go-back-option-confirm:hover {
    border-radius: 10px 0 10px 0;
    color: rgb(2, 192, 2);
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100px);
        opacity: 0;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Rules of Road css */
.ror-question-main-container {
    min-height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.ror-question-sign-container {
    height: 180px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ror-question-container {
    height: 130px;
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 600px) {
    .quiz-main-container {
        border-radius: 0px;
    }
    .question-count-container {
        width: 100%;
    }

    .sign-main-container {
        padding-top: 10px;
    }

    .quiz-outer-main-container {
        height: 100vh;
        display: flex;
        justify-content: initial;
        align-items: initial;
    }
}
