.outer-register-main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-main-container {
    height: 300px;
    width: 550px;
    background-color: grey;
    border-radius: 10px;
}

.register-container {
    height: 90px;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-options > div {
    height: 50px;
}

.register-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-button {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.outer-username-option,
.outer-password-option,
.outer-confirmPassword-option {
    display: flex;
}

.register-username,
.register-password,
.register-confirmPassword {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-username-container,
.input-password-container,
.input-confirmPassword-container {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-username,
.input-password,
.input-confirmPassword {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.input-username:focus,
.input-password:focus,
.input-confirmPassword:focus {
    outline: none;
}

.red-border {
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 0 0 2px red;
}
