.outer-register-main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-main-container {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid;
    position: relative;
}

.register-container {
    height: 70px;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-options > div {
    height: 50px;
}

.register-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.register-button {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid;
}

.outer-username-option,
.outer-password-option,
.outer-confirmPassword-option {
    display: flex;
}

.register-username,
.register-password,
.register-confirmPassword {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-username-container,
.input-password-container,
.input-confirmPassword-container {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: relative;
}

.input-username,
.input-password,
.input-confirmPassword {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
    font-size: large;
}
.input-username:focus,
.input-password:focus,
.input-confirmPassword:focus {
    outline: none;
}

.red-border {
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 0 0 2px red;
}

.register-warning-container {
    /* background-color: red; */
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    color: rgb(184, 3, 3);
    padding-left: 100px;
}

.eye {
    position: absolute;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

.transfer-link{
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-decoration: none;
}

.go-back-login-register{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size:x-large;
}

@media (max-width: 600px) {
    .register-main-container {
        border-radius: 0%;
    }
}
@media (max-width: 420px) {
    .register-main-container {
        border-radius: 0%;
        width: 100vw;
    }
}
